//dimensiones
$profile-tam: 150px;
//colores
$btn-delete-bg: #fff;
$btn-delete: rgb(242,0,1);
$btn-guardar:rgb(74,211,149);

:host ::ng-deep {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;

    /* Contenedor padre de la card */
    .container{
      height: 340px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      
      /* Estilos para la card, tiene un alto y ancho menor al contenedor para poder posicionar la foto de perfil dentro del contedor padre y fuera de la card */
      .cardContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        // height: 60%;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
        position: relative;
        margin-bottom: 25px;
        box-sizing: border-box;
        position: relative;

        .lateral{
          border-radius: 12px;
          height: 80%;
          width: 10px;
          left: 15px;
          position: absolute;
        }

        &-actions{
          position: absolute;
          top: calc(100% - 20px);
          left: calc(50% - 75px);
          display: flex;
          border-radius: 30px;
          border: 1px solid #A1A1A1;
          background-color: #fff;
          &-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 50px;
            height: 40px;
            i{
              font-size: 25px;
            }
          }
        }
  
      }
    }

    .containerAnim{
      animation: animation .5s ease-in;
    }

    @keyframes animation{
      0%    {transform: scale(1.1);}
      10%   {transform: scale(1);}
      20%   {transform: scale(0.9);}
      30%   {transform: scale(0.8);}
      40%   {transform: scale(0.7);}
      50%   {transform: scale(0.6);}
      60%   {transform: scale(0.5);}
      70%   {transform: scale(0.4);}
      80%   {transform: scale(0.3);}
      90%   {transform: scale(0.2);}
      100%  {transform: scale(0.1);}
    }

    .edge {
      stroke: #877F79 !important;
    }
  }

  /* Colors bar */
  .company{
    background-color: #088BFF;
  }
  .department{
    background-color: #00CDE6;
  }
  .team{
    background-color: #00E5C4;
  }
  .collaborator{
    background-color: #E88838;
  }

  .marginbottom{
    margin-bottom: 60px!important;
  }

  .graph-setting{
    display: flex;
    flex-direction: column;
  }