<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">

        <mat-toolbar color="primary">
            <span>Menú</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./org-chart"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>assignment_ind</mat-icon>
                <span>Organigrama</span>
            </a>

            <a routerLink="./org-chart-view"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>view_list</mat-icon>
                <span>Organigrama Vista</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>